<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img src="https://http2.mlstatic.com/D_NQ_NP_751502-MLA45399583035_032021-O.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text">Herramientas Carro Completo 115 Piezas Hogar Taller Higth Q</p>
          <p class="card-text">$199.999 en 6x 33333 pesos con 17 centavos$33.333,17 sin interés</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://http2.mlstatic.com/D_NQ_NP_710420-MLA46528211028_062021-O.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text">Combo Lusqtoff 7x1 Herramientas Bateria 18v Litio Power Link</p>
          <p class="card-text">$59.999 en 6x 9999 pesos con 83 centavos$9.999,83 sin interés</p>
        </div> 
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>